@import '../utils/index';
@import '../variables/colors';
@import '../typography';
@import './icons.scss';

.dropdown-text {
    color: $airBlue;
    @include bodyText;
}

.dropdown-control {
    background-color: transparent;
    border: 0;
    :focus, :active {
        outline: none;
      }
}

.dropdown-container {
    background-color: transparent;
    border: 0;
    :focus, :active {
        outline: none;
      }
}



