@import '../utils/index';
@import '../variables/colors';
@import '../typography';

.filters {
    display: flex;
    flex-direction: column;
    gap: pxToRem(32px);
    padding: pxToRem(24px) pxToRem(24px);
}

.filters__title {
    @include smallTitle;
    color: $primary;

    @include breakpoint(md) {
        @include bigTitle;
    }
}

.filters-form {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24px);
}

.filters-form__form-group {
    display: flex;
    gap: pxToRem(16px);
    align-items: center;
}

.filters-form__label {
    @include smallBodyText;
    color: $lightGray;
    text-transform: uppercase;

    @include breakpoint(md) {
        @include bodyText;
    }
}

.filters-form__input {
    width: pxToRem(64px);
    text-align: center;
    background-color: transparent;
    border: pxToRem(2px) solid $white;
    border-radius: pxToRem(8px);
    outline: 0;
    color: $white;
    @include bodyText;
}
