@import '../utils/';
@import '../variables/colors';

.icon {

    //SIZE
    &-tiny {
      height: pxToRem(16px);
    }
    &-small {
      height: pxToRem(24px);
    }
    &-big {
      height: pxToRem(40px);
    }

    // COLOR
    &-white {
      color: $white;
    }
    &-light {
      color: $lightGray;
    }
    &-dark {
      color: $darkBlue;
    }
    &-air {
      color: $airBlue;
    }
  }