@import '../utils/';
@import '../variables/colors';

///////////////////////////
// SIZE
///////////////////////////

.icon-small {
    height: pxToRem(24px);
}

.icon-big {
    height: pxToRem(40px);
}

///////////////////////////
// COLOR
///////////////////////////

.icon-white {
    color: $white;
}

.icon-dark {
    color: $darkBlue;
}