@import '@styles/utils';
@import '@styles/variables';
@import '@styles/typography';

.pagination {
    display: flex;
    width: fit-content;
    padding: 0;
    list-style: none;
    border: pxToRem(2px) solid $darkGray;
    border-radius: pxToRem(8px);
    align-self: center;
    @include smallBodyText;
    
    @include breakpoint(md) {
        @include bodyText;
    }
}

.pagination__previous__link {
    border-radius: pxToRem(8px) 0 0 pxToRem(8px);
}

.pagination__next__link {
    border-radius: 0 pxToRem(8px) pxToRem(8px) 0;
}

.pagination__page__link, .pagination__previous__link, .pagination__next__link, .pagination__break__link {
    display: inline-block;
    padding: pxToRem(16px);
    width: 100%;
    height: 100%;
    color: $lightGray;
    cursor: pointer;

    &:hover {
        background-color: $airBlue;
        color: $darkGray;
    }
}

.pagination__page_active__link {
    background-color: $primary;
    color: $darkBlue;
}