@import '@styles/variables';
@import "@styles/typography";
@import '@styles/utils';
@import '@styles/components/icons';

.movie-card-container {
    display: flex;
    width: 100%;
    height: pxToRem(207px);
    border-radius: pxToRem(8px);
    cursor: pointer;
    background-color: $darkGray;

    .poster-container {
        height: 100%;

        .poster-image {
            display: block;
            width: auto;
            height: 100%;
            object-fit: contain;
            transition: transform 0.2s ease-out;
        }
    
        
    }

    .movie-card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: pxToRem(16px);
        width: 100%;
        
        .movie-card-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: pxToRem(8px);
            h3 {
                color: $white;
                @include smallTitle
            }
            p {
                color: $gray;
                @include bodyText
            }

            h3, p {
                margin: 0;
            }
        }

        .icon-favorite {
            color: $airBlue;
        }
    }

    
}
