@import '@styles/variables';
@import "@styles/typography";
@import '@styles/utils';
@import '@styles/components/icons';

.movie-card {
    width: fit-content;
    height: pxToRem(207px);
    cursor: pointer;
}

.movie-card_poster {
    height: 100%;
    position: relative;
    width: fit-content;    
}

.image_card {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}


.movie-card_simple__image {
    border-radius: pxToRem(8px);
}

.movie-card_simple__icon {
    position: absolute;
    top: pxToRem(8px);
    left: pxToRem(8px);
}

.movie-card_extended {
    width: 100%;
    display: flex;
}

.movie-card-extended__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: pxToRem(16px);
    gap: pxToRem(8px);
    background-color: $darkGray;
}




.movie-card_extended__title {
    color: $white;
    @include smallTitle
}

.movie-card_extended__info {
    color: $gray;
    @include bodyText
}

.movie-card_extended__title, .movie-card-extended__info {
    margin: 0;
}
