@import "@styles/variables";
@import "@styles/typography";
@import "@styles/utils";


.container-page_allmovies {
    gap: pxToRem(24px);
}

.allmovies-header {
    display: flex;
    align-items: center;
    gap: pxToRem(16px) pxToRem(32px);
    flex-wrap: wrap;
}

.allmovies-header__sort {
    display: flex;
    align-items: center;
    gap: pxToRem(8px);
}

.sort__label {
    @include bodyText;
    color: $lightGray;
}

.allmovies-header__link-filters {
    display: flex;
    align-items: center;
    gap: pxToRem(8px);
    text-decoration: none;

    &:hover {
        .link-filters__icon, .link-filters__label {
            color: $primary;
        }
    }
}

.link-filters__icon, .link-filters__label {
    color: $airBlue;
}

.link-filters__label {
    @include infoHeading;
    
}

.allmovies__grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
    gap: pxToRem(16px);
}

.allmovies__grid-item {
    flex-basis: pxToRem(160px);
    flex-grow: 1;
}


.allmovies-header__title {
    @include sectionHeading;
    color: $white;
}