@import "@styles/variables";
@import "@styles/typography";
@import "@styles/utils";

.allmovies-header {
    display: flex;
    align-items: center;
    gap: pxToRem(16px);
    flex-wrap: wrap;
    
    

    .sort {
        display: flex;
        align-items: center;
        gap: pxToRem(8px);
        p {
            @include bodyText;
        }
    }
}

.allmovies-header__link-filters {
    display: flex;
    align-items: center;
    gap: pxToRem(8px);

    &:hover {
        .link-filters__icon, .link-filters__label {
            color: $primary;
        }
    }
}

.link-filters__icon, .link-filters__label {
    color: $airBlue;
}

.link-filters__label {
    @include infoHeading
}

.allmovies__grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
    gap: pxToRem(16px);
}

.allmovies__item {
    //width: fit-content;
}


.allmovies-header__title {
    @include sectionHeading;
    color: $white;
}