@import "@styles/variables";
@import "@styles/typography";
@import "@styles/utils";
@import "@styles/components/button.scss";
@import "@styles/layout/container.scss";

.container-page_movie-details {
    gap: pxToRem(16px);
    padding-bottom: pxToRem(40px);
    padding-top: pxToRem(24px);

    @include breakpoint(md) {
        padding-left: pxToRem(200px);
        padding-right: pxToRem(200px);
        padding-bottom: pxToRem(80px);
    }

    @include breakpoint(lg) {
        padding-left: pxToRem(300px);
        padding-right: pxToRem(300px);
    }

    @include breakpoint(xl) {
        padding-left: pxToRem(400px);
        padding-right: pxToRem(400px);
    }
}

.movie-details-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: pxToRem(24px);
    padding: pxToRem(16px) 0;


    

    table {
        border-spacing: 0 pxToRem(16px);
        tr > td {
            @include smallTitle;
            color: $gray;
            text-transform: uppercase;
            padding-right: pxToRem(32px);
        }
        tr > td:last-child {
            @include bodyText;
            color: $white;
            text-transform: none;
            width: 100%;
            padding-right: 0;
        }
    }
}

.movie-details-content__overview-text {
    max-width: pxToRem(750px);
    color: $white;
    line-height: pxToRem(24px);
}

.movie-details-content__title {
    @include pageHeading;
    color: $white;
}

.movie-details-content__subtitle {
    color: $gray;
}

.video-trailer {
    margin-bottom: pxToRem(-3px);
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    @include breakpoint(md) {
        padding-bottom: 35%;
    }
}

.video-trailer__iframe { 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
