@import "@styles/variables";
@import "@styles/typography";

.container-page_center {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.not-found-title, .not-found-text {
    text-align: center;
}

.not-found-title {
    @include pageHeading;
    color: $primary;
}

.not-found-text {
    @include bodyText;
    color: $white;
}