@import "@styles/variables";
@import "@styles/typography";
@import "@styles/utils";
@import "@styles/layout/container.scss";


.slider-section {
    display: flex;
    flex-direction: column;
    gap: pxToRem(8px);
}

.slider-section__title {
    @include sectionHeading;
    color: $white;
}

.slider-section__subtitle {
    @include infoHeading;
    color: $gray;
    text-transform: uppercase;
}

