@import '@styles/components/button.scss';
@import '@styles/utils';

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $darkBlue;
    gap: pxToRem(24px)
    
}

.info-title {
    @include pageHeading;
    text-align: center;
    color: $white;
}